*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

*{ 
    font-family:'Noto Sans TC', sans-serif;
} 
 h1,h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
    font-family:'Noto Serif TC', sans-serif; 

}
p.redred{
    color:#a6b616;
    font-size: 40px;
    text-align: center;
    background-color: rgb(126, 88, 38);
    border-color: #7e1fbd;
    border: 10px dashed rgb(158, 38, 206);
    background-image: url(../assets/img/背景-1.jpg);
}
    .bg-primary {
        background-color: black !important;
        background-image: url(../assets/img/背景-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       }


.blueblue{
   color:#008B8B;
}

.expedu_icon{
    color:rgba(78, 21, 21, 0.473)
}

.expedu_icon:hover{
    background-color:rgb(165, 95, 9);
    color:#800000;
}

