*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

*{ 
    font-family:'Noto Sans TC', sans-serif;
} 
 h1,h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
    font-family:'Noto Serif TC', sans-serif; 

}
p.redred{
    padding:10px;
    border: 10px ;
    border-radius: 5px;
    margin:100px;

    color:#e21794;
    font-size: 40px;
    text-align: center;
    background-color: rgb(231, 26, 221);
    border-color: #a804a8;
    border: 10px dashed rgb(236, 233, 238);
    background-image: url(../assets/img/背景-1.jpg);
}
    .bg-primary {
        background-color: black !important;
        background-image: url(../assets/img/背景-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       }


.blueblue{
   color:#008B8B;
}

.expedu_icon{
    color:rgba(78, 21, 21, 0.473)
}

.expedu_icon:hover{
    background-color:rgb(165, 95, 9);
    color:#800000;
}

table.cynthiatable th{
    text-align: center;
    background-color: rgb(18, 86, 146);
    color:antiquewhite;
    border:10px solid rgb(19, 119, 97);
}

table.cynthiatable{
    width:80%;
    background-color:aliceblue;
    border-collapse: separate;
}

table.cynthiatable th{
    text-align:center;
}

table.cynthiatable td{
    text-align: center;
    border:10px solid rgb(202, 194, 194);

}

table.cynthiatable tr:nth-child(even){
    background-color: bisque;
    color:plum;
}

table.cynthiatable tr:nth-child(odd) {
    background-color:aquamarine;
}

.w-25{
    width:25%;
}