*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

boby{
    font-family: 'Noto Sans TC', sans-serif;
}
p.redred{
    color:#800000;
    font-size: 40px;
    text-align: center;
    background-color: antiquewhite;
}

.blueblue{
   color:#008B8B;
}

